.container {
  display: flex;
  padding: 15px;
  height: 300px;
}
.container > div {
  flex: 1; /*grow*/
}

.checking {
  background-color: #ddd;
  padding: 10px;
}

.saving {
  background-color: #bbb;
  padding: 10px;
}